# Built application files
*.apk
*.aab

# Build caches & outputs
**/build/
.gradle/
.kotlin/
.externalNativeBuild/
.cxx/

# IDE files
.idea/
*.iml
local.properties

# Logs/Caches
*.log
*.hprof
.DS_Store
/captures

